%h3
  About this site
%p
  Welcome. This site is powered by the 
  = link_to "Balisong", "https://github.com/pauldowman/balisong"
  blogging app.

%h3 Some recent posts:
%ul#recent_posts
  - @recent_posts.each do |p|
    %li
      = link_to p.title, '/' + Page.urlify(p.id)

