// This file must be imported before loading html5-boilerplate

$base-font-family: 'Times New Roman','Times',serif;  // default font-family
$heading-font-family: 'Helvetica Neue','Helvetica','Arial',sans-serif;

$base-font-size: 16px;  // default font-size for YUI fonts

$base-line-height: 1.5;  // default line-height for YUI fonts

$font-color: #444;

$link-color: #607890;

$link-hover-color: #036;

$link-active-color: #607890;

$link-visited-color: #607890;

$selected-font-color: #fff;  // color for selected text

$selected-background-color: #ff5E99;  // bg-color for selected text

$list-left-margin: 24px;  // left margin for ul an ol
