@import "compass/css3";
@import "eleven40";
@import "partials/code";

//---------------------------------------------------
// Default styles that should take effect everywhere
//---------------------------------------------------

body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
}

//Headers (h1, h2, etc) have no default font-size or margin; define those yourself
h1, h2, h3, h4, h5, h6 {
  // Bold might not be the best choice if you are
  // embedding a @font-face that's already bold
  font-family: $heading-font-family;
  font-weight: bold;
}

h1 {
  @include font-size(32px);
}

h2 {
  @include font-size(24px);
}

p {
  margin-bottom: 13px;
}

code {
  font-family: $code-font-family;
}

em {
  font-style: italic;
}

a, a:active, a:visited {
  color: $link-color;
  text-decoration: none;
}
a:hover { color: $link-hover-color; }

strong, th {
  font-weight: bold;
}

small {
  // Use font-size mixin to convert to percentage for YUI
  // http://developer.yahoo.com/yui/3/cssfonts/#fontsize
  @include font-size(11px);  // approx 85% when base-font-size eq 13px
}

// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid {}
input:invalid, textarea:invalid {
  @include border-radius(1px);
  @include box-shadow(red, 0, 0, 5px, 0);
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

ol, ul {
 padding-left: 22px; // bullets inside the box
 margin-bottom: 12px;
}

body {
  font-family: $base-font-family;
}

//---------------------------------------
// Page header
//---------------------------------------

#page-header {
  @include eleven40-container;

  #flash {
    @include eleven40-row;
  }

  #page-header-main {
    @include eleven40-row;
    border-bottom: 1px solid #DDD;
    margin-bottom: 18px;

    #site-title {
      @include eleven40-sevencol;
      margin-bottom: 18px;
      h1 {
        @include font-size(48px);
        a {
          color: $font-color;
          text-shadow: 1px 1px 0 #888;
        }
      }
      #tagline {
        font-weight: normal;
      }
    }

    nav {
      @include eleven40-fivecol;
      @include eleven40-last;
      ul#site-menu {
        font-family: $heading-font-family;
        text-transform: uppercase;
        padding: 48px 0 0;
        text-align: right;
        list-style-type: none;
        li {
          display: inline;
          margin: none;
          padding-left: 12px;
          padding-right: 12px;
          border-right: 1px dotted #888
        }
      }
    }
  }
}

//---------------------------------------
// Main section
//---------------------------------------

#main {
  @include eleven40-container;
  #content {
    @include eleven40-ninecol;
    margin-bottom: 18px;
    .page-content {
      margin-bottom: 18px;
      pre {
        @include code;
      }
    }
    header {
      padding-bottom: 14px;
      time {
        @include font-size(12px);
        font-family: $heading-font-family;
      }
    }
  }
  #side-menu {
    @include eleven40-threecol;
    @include eleven40-last;
    @include font-size(12px);
    font-family: $heading-font-family;
    margin-bottom: 18px;
    ul {
      list-style-type: none;
    }
  }
}


//---------------------------------------
// Page footer
//---------------------------------------

#footer {
  @include eleven40-container;
  @include eleven40-twelvecol;
  @include eleven40-last;
  font-family: $heading-font-family;
  text-align: center;
  margin-bottom: 18px;
}

