%hr
= link_to 'Home', root_url

/ TODO remove this obtrusive JS
%script{:type => "text/javascript"}
  SyntaxHighlighter.autoloader(
  'js jscript javascript /lib/syntaxhighlighter_3.0.83/scripts/shBrushJScript.js',
  'ruby /lib/syntaxhighlighter_3.0.83/scripts/shBrushRuby.js',
  'xml xhtml xslt html xhtml /lib/syntaxhighlighter_3.0.83/scripts/shBrushXml.js'
  );
  SyntaxHighlighter.all();
